<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equisde</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .imagen {
            display: block;
            margin: auto;
            margin-top: 50px;
            padding: auto;
            width: 40%;
        }
        .buttons {
            margin-top: 20px;
        }
    </style>
</head>
<body background="../static/welcome-image.jpg">

    <div class="container center">

        <img src="../static/TransparentLogo.png" class="imagen">

        <div class="container center ">
            <a href="/high" class="btn btn-primary btn-lg active buttons" role="button" aria-pressed="true">High Frequency (Girls)</a>
            <a href="/low" class="btn btn-primary btn-lg active buttons" role="button" aria-pressed="true">Low Frequency (Boys)</a>
        </div>   
    </div>    

</body>
</html>