<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CN ROBOTICS CORP.</title>

    <link rel="stylesheet" href="welcome.css">

</head>
<body>

    <div class="contingut">
        <h3>Romeo Project</h3>
    </div>

</body>
</html>